@font-face {
  font-family: clock-font;
  src: url(fonts/clock.ttf);
}

#clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.clock {
  display: flex;
  background-color: var(--text);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 5vh;
  width: fit-content;
  margin: 4vh auto;
  box-shadow: 0px 0px 6px 2px rgba(224, 247, 250, 0.5);
}

.clock p {
  font-family: "clock-font", monospace;
  color: var(--background);
  font-size: 5vw;
  margin: 0;
}

.clock .timezone {
  align-self: flex-start;
  font-size: 2vw;
}

@media screen and (max-width: 1000px) {
  .clock p {
    font-size: 10vw;
  }

  .clock .timezone {
    font-size: 5vw;
  }
}

.clock .clock-functions {
  display: flex;
  width: 100%;
  height: 2vh;
  justify-content: center;
  border: 0;
}

.clock .clock-button {
  flex: 1 1 auto;
  padding: 1rem; 
  font-family: "clock-font", monospace;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background: var(--background);
  box-shadow: 0px 0px 6px 2px rgba(38, 50, 56, 0.7);
  border: 0;
}

.clock .clock-button:hover {
  background: linear-gradient(315deg, #f0ffff, #cadee1);
  box-shadow: 0px 0px 6px 2px rgba(38, 50, 56, 0.7);
  color: var(--background);
  border: 0;
}

.stopped {
  display: none;
} 
