.contact-form {
  --ok-color: #4caf50;
  --error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .contact-form {
    width: 80%;
  }
}
.contact-form legend,
.contact-form-response {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form-loader {
  text-align: center;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
  font-family: "Share Tech Mono", monospace;
}

.contact-form textarea {
  resize: none;
}
.contact-form input,
.contact-form textarea {
  font-size: 1rem;
}

.contact-form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  width: 50%;
}

.contact-form [required]:valid {
  border: thin solid var(--ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--error-color);
  color: #fff;
  transition: all 800ms ease;
  text-align: center;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out-both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 0;
  }
}
