#responsive-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#responsive-form input {
  display: block;
  width: 40vw;
  text-align: center;
  margin: 5vh;
  height: 5vh;
  font-family: "Share Tech Mono", monospace;
  font-size: 3vh;
}

#responsive-form input {
  display: block;
  width: 40vw;
  text-align: center;
  margin: 3vh;
  height: 7vh;
  font-family: "Share Tech Mono", monospace;
  font-size: 3vh;
}

@media screen and (max-width: 1100px) {
  #responsive-form input {
    width: 70vw;
  }
}

#responsive-form input[type="submit"] {
  font-weight: bold;
  border: 0;
  box-shadow: 0px 0px 8px 4px rgba(131, 131, 131, 0.7);
}

#responsive-form input[type="submit"]:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 4px rgba(224, 223, 223, 0.7);
  background-color: var(--background);
  color: var(--text);
  letter-spacing: 5px;
}
