#smart-video video {
  max-width: 60vw;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 4px rgb(131 131 131 / 40%);
}

@media screen and (max-width: 1024px) {
  #smart-video video {
    max-width: 90vw;
  }
}
