.status-banner {
  position: fixed;
  left: 0;
  margin-top: 70;
  width: 100vw;
  height: 7vh;
  text-align: center;
  color: white;
  z-index: 999999;
  font-family: "Share Tech Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.status-banner.online {
  background-color: #23c552;
}

.status-banner.offline {
  background-color: #f84f31;
}
