html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#arepas {
  display: flex;
  flex-wrap: wrap;
}

#arepas > * {
  flex: 1 1 300px;
  margin: 1rem;
}

.arepa {
  font-size: 125%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.arepa:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  transform: scale(0.9);
}

.arepa img {
  max-width: 100%;
  height: auto;
}

.arepa figcaption {
  padding: 1rem;
}
